# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android
android/.gradle/
android/local.properties
**/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.swp

# Misc
.DS_Store
pubspec.lock
